.page-header
  = link_to @restaurant, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Back
  = link_to @restaurant, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }, method: :delete do
    %span.glyphicon.glyphicon-remove
    Delete
  %h1 Editing restaurant

= render 'form'
