%img#bg{:alt => "https://upload.wikimedia.org/wikipedia/commons/6/66/Saint_Petersburg_Florida_at_Night_from_McNulty_Lofts.png", :src => "https://upload.wikimedia.org/wikipedia/commons/6/66/Saint_Petersburg_Florida_at_Night_from_McNulty_Lofts.png"}/

%h1.new-header
  ğ“ğ“®ğ”€ ğ“¡ğ“®ğ“¼ğ“½ğ“ªğ“¾ğ“»ğ“ªğ“·ğ“½

.col-md-8.form
  = render 'form'
